body {
    padding: 40px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #b1dcf8, #6f58f1);
  }

.perfilTexto .imgBx {
    position: relative;
    width: 355px;
    height: 355px;
    border-radius: 50%;
    overflow: hidden;

}

.container .left_Side {
    background: #003147;
}

#colSides{
    padding-right:0;
    padding-left: 0;
}
#imgNombre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfilTexto {
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

.perfilTexto h2 {
    font-size: 2.4em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-top: 5px;

}

.perfilTexto h2 span {
    font-size: 0.8em;
    font-weight: 400;
    color: rgb(169, 163, 163);
    letter-spacing: 1px;

}


.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 4ch;
    text-align: start;
    letter-spacing: 1px;
    padding: 15px;
    position: relative;
    padding-top: 30px;

}



.ContactoInfo .tituloContacto {
    text-align: center;
}

.ContactoInfo ul {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.ContactoInfo ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: large;
    color: #fff;
    letter-spacing: 0.9px;
    font-size: 1em;

}

.ContactoInfo ul li .icon {
    width: 30px;
    font-size: 18px;
    color: rgb(97, 154, 252);
}

.ContactoInfo ul li .text {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
}


.Educacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;


}

.Educacion ul li {
    color: #fff;
    letter-spacing: 0.9px;
    font-size: 1em;

}

.Educacion ul {
    position: relative;
    list-style: none;
    padding-left: 0;
}

.Educacion ul li .icon {

    width: 30px;
    font-size: 18px;
    color: rgb(84, 235, 232)
}

.Educacion h5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    color: rgba(220, 208, 208, 0.719);
    display: inline-block;
    padding-top: 20px;
}

.Educacion h4 {
    font-size: large;
}

.Educacion h6 {
    color: rgba(220, 208, 208, 0.719);
    font-weight: 450;
    letter-spacing: 0.7px;
    font-weight: bold;
    font-size: 1em;
    position: relative;


}

.NombreLenguaje {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 3ch;
}

.Lenguaje ul li .icon {
    display: inline-block;
    width: 40px;
    font-size: 20px;
    color: rgb(108, 226, 140)
}


.perfilTexto .imgBx {
    position: relative;
    width: 355px;
    height: 355px;
    border-radius: 50%;
    overflow: hidden;
    
}

.perfilTexto img {
    max-width: 353px;
    max-height: 353px;
    object-fit: cover;

}

.container .right_Side {

    background: #fff;
    padding: 40px;
}

.title2 {
    font-size: 40px;
    font-weight: 600;
    color: #004f74;
    background-color: #cfe6f0;
    text-align: center;

}

.p1y2 {
    font-size: 25px;
    padding: 10px;
    font-weight: 500;
    color: #004f74;
    padding-bottom: 20px;
    text-align: center;
}

.conocimientos {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    color: #004f74;
    padding-top: 20px;
    border-top: 3px solid #004f74;

}

/*ACORDION GENERAL*/
.myAccordion {

    padding-bottom: 30px;
    border-bottom: 3px solid #004f74;
    
}

.accordion-body {
    border: 3px solid #003147 !important;
    border-color: #003147;
    background-color: #ebebeb;
    padding: 10px;


}



.accordion .accordion-button {
    background-color: rgb(241, 250, 254);
}

.accordion .icon {
    margin-left: 0px !important;
    width: 1081px;
    font-size: 38px;
    color: #29bbff;
    text-align: center;
}

.accordion-item .fa-html5 {
    color: rgb(196, 127, 0);
    font-size: 70;
}

.accordion-item .fa-java {
    color: rgb(125, 173, 255);
    font-weight: bold !important;
}

.accordion-item .fa-js {
    color: rgb(239, 239, 55);
}

.accordion-item .fa-c {
    color: rgb(181, 86, 249);
}

.accordion-item .fa-hashtag {
    color: rgb(181, 86, 249);
}

.accordion-item .fa-angular {

    color: crimson !important;
    color: crimson;
}

.accordion-item .fa-database {
    color: rgb(161, 161, 161);
}

.accordion .accordion-body {
    font-size: 20px;
}

.aptitudesTitulo {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #004f74;
    padding-top: 20px;
}


.aptitudesDescripcion li {
    display: inline-block;
}

.aptitudesDescripcion {
    font-size: 25px;
    font-weight: 500;
    color: #004f74;
    text-align: center;
    padding-left: 0;
}

.aptitudes {
    border-bottom: 3px solid #004f74;
}

.aptitudesDescripcion u {
    padding: 20px;
}

@media (max-width: 768px) {

    /* Estilos para pantallas pequeñas */
    .aptitudesDescripcion u {
        padding: 0;
    }
}

.expLaboTitulo {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    color: #004f74;
    padding-top: 20px;
}

.expLaboSubTitulo {
    font-size: 18px;
    font-weight: 450;
    color: #004f74;
    padding-bottom: 20px;
    text-align: center;
}

#containExp {
    padding: 0;
    border: 1px solid #8dc6e0;

}

#fechaLaburo {
    margin: 0;
    color: #004f74;
}

.primerlaburogral .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.primerlaburogral .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.tituloLaburo {
    font-size: 20px;
    font-weight: 490;
    color: #004f74;
    text-align: center;

}

#infoLaburo {
    color: #004f74;
    font-size: 15px;
padding-left: 0;
    font-weight: bold;


}



/* .segundolaburogral {
    border: 1px solid #8dc6e0;
}

.segundolaburo {

    font-size: 18px;
    font-weight: 400;
    color: #004f74;
    padding-top: 5.5%;
    padding-left: 100px;
    padding-bottom: 0px;
}

.segundolaburo li {
    padding-left: 15px;
    padding-right: 15px;
} */


/* 
.primerlaburo {

    font-size: 18px;
    font-weight: 400;
    color: #004f74;
    padding-top: 5.5%;
    padding-left: 100px;
    padding-bottom: 0px;
}

.primerlaburo li {
    padding-left: 15px;
    padding-right: 15px;
} */